@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');


body {
  font-family: 'Grandstander', cursive;
  margin: 0px;
}

.App {
  width: 100vw;
  min-height: 100vh;
};