@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');


$blue: #0048A9;

body {
  font-family: 'Grandstander', cursive;
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
}

/* Desktop Version*/

.dashboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Header*/
.logo-area {
  text-align: center;
  padding: 5px;

  img { 
    height: 100px;
  }
  p{
    font-size: 20px;
    font-weight: bold;
    color: $blue;
  }
}
.head {

  padding: 2em;
  .ui.menu {
    display: flex;
    flex-direction: column;
    width: 25em;
    border: none;
  }
  .ui.dropdown {
    font-size: 20px;
    font-family:  'Grandstander', cursive;
    display: flex;
    width: 25em;
  }
  .ui.dropdown.link.item{
    width:100%;
    
  }
  .ui.search {
    display: flex;
    margin-left: 10em;
  }
 
}

/*Quizzes pages*/
.quiz {

  padding: 5em;

   li {
     list-style: none;
     margin-bottom: 1em;
   }
   .ui.checkbox {
     margin-right: 1.5em;
   }
}

/*Slides*/
.slides {
  width: 65%;
  height: 460px;
  border-radius: 20px;
  
  .carousel{
    display: flex;
    align-items: center;
    text-align: center;

    p {
      font-size: 5em;
    }
  }
}